<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    {{>favicon}}
    <link rel="stylesheet" href="../css/chatInput.css">
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/message.css">
    <link rel="stylesheet" href="../css/sidebar.css">
    <link rel="stylesheet" href="../css/imoji.css">
    <link rel="stylesheet" href="../css/navbar.css">
    <link rel="stylesheet" href="../css/messages.css">
    <link rel="stylesheet" href="../css/messageMenu.css">
    <link rel="stylesheet" href="../css/reply.css">
    <link rel="stylesheet" href="../css/avatarViewer.css">
    <link rel="stylesheet" href="../css/voiceBtns.css">
  </head>
  <body>
    <div class="container">
      <div id="avatar_viewer">
      </div>
      {{>sidebar}}
      <main class="main">
        <img id="bg_pic" src="../assets/images/bg/1.jpg" alt="background picture">
        {{>navbar}}
        <div id="messages_container">
          <ul id="messages_list"></ul>
        </div>
        <div id="chat_options">
          <button id="scrollDown">︾</button>
          <div id="reply_input"></div>
          <div id="chat_inputs">
            {{>textInputs}}
            {{>voiceInputs}}
          </div>
        </div>
      </main>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.0.1/mustache.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.6.0/qs.min.js"></script>
    <script type="module" src="../js/chat.js"></script>
    <script src="../js/handlers/inputController.js"></script>
    <script src="../js/handlers/messageTemplate.js"></script>
    <script type="module" src="../js/handlers/sidebarHandler.js"></script>
    <script src="../js/handlers/bgHandler.js"></script>
    <script src="../js/handlers/imojiHandler.js"></script>
    <script src="../js/handlers/reaction.js"></script>
    <script src="../js/handlers/replyHandler.js"></script>
    <script src="../js/handlers/voiceHandler.js"></script>
    <script src="../js/handlers/scrollMsg.js"></script>
    <script src="../js/handlers/inputBtnsHandler.js">
  </body>
</html>