<div id="voice_inputs">
    <div>
    <span id="voiceLength">00:00</span>
    <img id="removeVoice" src="../assets/icons/close.png" title="delete voice" alt="delete_voice">
    <img id="stopBtn" src="../assets/icons/send.png" title="stop voice" alt="stop_voice">
    </div>
</div>