
  #nav{
    display: flex;
    flex-direction: row;
    justify-content:end;
    height: 4rem;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    margin: 0 auto;
    width: 70%;
    justify-content: space-between;
    z-index: 10;
    height: 3rem;
    max-width: 500px;

    background: rgb(255, 255, 255);
    border-bottom: 3px solid rgba(153, 152, 152, 0.256);
  }
  #chat_component{
    max-width: 500px;
    width:70%;
    margin: 0 auto;
    position: relative;
    height: 100%;
  }
  #messages { 
    flex-grow: 1;
    list-style-type: none; 
    margin: 0; 
    padding: 4px;
    position: absolute;
    bottom: 5rem;
    padding-bottom: 3rem;
    padding-top: 10vh;
    max-height: 100%;
    width: 100%;
    overflow-y: scroll;
    animation: changeFade ease-in-out;
    animation-duration: 2s;
  }
  #bg_pic{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 0;
    /* opacity: 0.5; */
    /* transition-delay: 0.3s; */
    animation: fade-in-out 60s;
    animation-iteration-count: infinite;
  }
  @keyframes fade-in-out {
    0% { opacity: 0.1; } 
    50% { opacity: 0.6; } 
    100% { opacity: 0.1; }
}
  #chat_options {
    padding:1rem; 
    padding-top: 0;
    box-shadow: 5px 5px 16px gray;
    position: absolute;
    bottom: 0;
    /* height: 2rem; */
    width: 100%;
    background: white;
  }
  #chat_inputs{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
  }
#chat_bar{
  position: absolute;
  left: 0;
  height: 0.25rem;
  width: 0.1px;
  display: block;
  transition: background-color 1s;
  background: green;
}
#message_input { 
  border: none; 
  padding: 0.5rem; 
  width: 90%;
  max-height: 200px;
  font-size: 20px;
  overflow-x: auto;
  outline: none;
  transition:box-shadow 0.3s;
  word-wrap: break-word;
  background: white;
}

.input_bg {
  position: relative;
}
.input_bg::before{
  content: 'Message';
  position: absolute;
  top: 50%;
  left: 2.6rem;
  transform: translate(-50%, -50%);
  font-size: 16px;
  color: gray;
  font-weight: bold;
  cursor: text;
}
.mark_red{
  background: red;
}
#imoji_btn{
  font-size: 2rem;
  font-weight: bold;
  width: 2rem;
  height: 2rem;
  color: rgba(146, 139, 139, 0.77);
  text-align: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: unset;
}
#imoji_btn:focus{
  color: black;
}
#send_btn { 
  border: none;
  cursor: pointer;
  height: 30px;
  transition: scale 0.3s;
  margin: 0.25rem; 
  padding: 0;
  width: 35px;
  height: 30px;
  background: white;
  background-image: url('../images/send.png');
  cursor: pointer;
}

#send_btn:disabled{
  cursor: default;
  background-image: url('../images/disabled_send.png');
}
  
#send_btn:hover{
  scale: 1.1;
}

#location_icon {
    height: 1.5rem;
    width: 1.5rem;
    margin:0.5rem 1.5rem;
    cursor: pointer;
    display: flex;
    position: absolute;
    right: 0;
  }
   .show_users_icon, .hide_users_icon{
    height: 1.5rem;
    width: 1.5rem;
    margin:0.5rem 1.5rem;
    cursor: pointer;
    display: none;
  }

@media all and (max-width: 640px) {
  #container{
    width: 100%;
  }
  .show_users_icon{
    display: inline;
  }
  .hide_users_icon{
    display: none;
  }
  #chat_component{
    width:100%;
  }
  #nav{
    width: 100%;
  }
  #chat_options{
    width: 100%;
    /* background: red; */
  }
  #bg_pic{
    width: 100%;
  }
}