*{
    box-sizing: border-box;
    word-wrap: break-word;
}
body { 
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif; 
}
.container{
    display: flex;
    flex-direction: row;
    max-width: 1200px; 
    margin: 0 auto;
    width: 100%;
    height: 100vh;
}
.main{
    width:100% ;
    position: relative;
    /* background: yellow; */
    height: 100vh;
  }
@media all and (max-width: 640px) {
    .container{
      width: 100%;
      /* background: red; */
    }
    .main{
        width: 100%;
    }
}