.messageMenu{
    border-radius:1rem;
    width:100px;
    border-radius: 0.25rem;
    background:rgba(128, 128, 128, 0.796);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 2rem;
    left: 50%;
    z-index: 7;
    display: none;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
  }
  .reactions{
    border-radius:1rem;
    width:100px;
    height:35px;
    overflow-y: auto;
    display: flex;
    flex-direction: row;
  }
  .reactions > span{
    margin: 0 0.5rem;
    padding: 0.5rem 0.5rem;
    cursor: pointer;
    width: 110%;
  }
  .reactions span:hover{
    cursor: default;
  }
  .options{
    border-radius:0 0 1rem 1rem;
    height:75px;
    margin:0 auto;
      text-align:center;
  
  }
  .options span{
    display:block;
    padding: 0.5rem;
    cursor: pointer;
    color: wheat;
    border-radius: 0.25rem;
  }
  .options span:hover{
    color: white;
    /* background-color: rgba(0, 0, 0, 0.463); */
  }