#messages > li { 
    width: 100%;
    min-height: 100px;
    /* vertical-align: middle; */
    /* margin: 2rem 0; */
    word-wrap: break-word;
    /* padding: 2rem 0; */
    padding: 0.5;
}
#messages > li > a{
    display: block;
    margin: 15px 0;
}
/* general messages */
.user_message , .admin_message, .self_message{
    width: fit-content;
    max-width: 300px;
    box-shadow: 1px 1px 2px gray;
    padding:0.25rem 0.5rem;
    /* margin: 0.5rem; */
}
.message_time, .message_status{
    color: gray;
}
.message_info{
    display: flex;
    justify-content: space-between;
}
.message_text{
    margin: 0.25rem;
}
.message_username{
    margin: 0;
}


/*other users message */
.user_message{
    border-radius:0 1rem 1rem 0;
    float: left;
}
.user_message > .message_username{
    font-size: 16px;
    color: rgb(0, 172, 0);
}
/* admin */
.admin_message{
    margin: 0 auto;
    border: 5px solid rgba(245, 7, 7, 0.843);
}
.admin_message > .message_username{
    text-align: center;
    color: red;
    margin: 0;
}
.admin_message > .message_text{
    text-align: center;
}

/* self */
.self_message{
    border-radius: 1rem 0 0 1rem;
    float: right;
}
.self_message > .message_username{
    margin: 0;
}

