#messages > li { 
    width: 100%;
    word-wrap: break-word;
    padding: 0.5;
}
#messages  li  a{
    display: block;
    margin: 15px 0;
}
/* general messages */
.user_message , .admin_message, .self_message{
    width: fit-content;
    max-width: 300px;
    box-shadow: 1px 1px 2px gray;
    padding:0.25rem 0.5rem;    
    position: relative;
}
.message_time, .message_status{
    color: gray;
}
.message_info{
    display: flex;
    justify-content: space-between;
}
.message_text{
    margin: 0.25rem;
}
.message_username{
    margin: 0;
}
/*other users message */
.user_message{
    border-radius:2rem 1rem 1rem 0;
    float: left;
    margin:  0.5rem 0;
    background: rgba(255, 242, 0, 0.617);
}
.user_message  .message_username{
    font-size: 16px;
    margin-left: 0.5rem;
    color: rgb(0, 172, 0);
}
/* admin */
.admin_message{
    margin: 1rem auto;
    padding: 1rem;
    width: 250px;
    box-shadow: 3px 3px 6px gray;
    border-radius: 1rem;
    background: rgba(255, 255, 255, 0.438);
}
.admin_message  .message_username{
    text-align: center;
    color: red;
    margin: 0;
}
.admin_message  .message_text{
    text-align: center;
}
/* self */
.self_message{
    border-radius: 1rem 2rem 0 1rem;
    float: right;
    background: whitesmoke;
    margin:  0.5rem 0;
}
.self_message  .message_username{
    margin: 0;
}



.chat_avatar{
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
}
.admin_message .chat_avatar{
    /* position: relative; */
    display: block;
    margin: 0 auto;
}

.self_message .chat_avatar{
    position: absolute;
    bottom: 0;
    right: -3rem;
}
.user_message .chat_avatar{
    position: absolute;
    bottom: 0;
    left: -3rem;
}