#messages_container { 
  padding-bottom: 0.25rem;
  margin: 0 auto;
  flex-grow: 1;
  width: 70%;
  max-width: 500px;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
#messages_list{
  list-style-type: none;
  animation: changeFade ease-in-out;
  animation-duration: 2s;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
  width: 100%;
  padding: unset;
}
#scrollDown{
  position: absolute;
  bottom: 4rem ;
  right: 1rem;
  font-size: 1rem;
  color: white;
  background: rgba(0, 0, 0, 0.511);
  border-radius: 50%;
  width: 1.75rem;
  height: 1.75rem;
  text-align: center;
  cursor: pointer;
  display: none;
  border: none;
  padding-top: 0.5rem;
}
@keyframes fade-in-out {
  0% { opacity: 0.1; } 
  50% { opacity: 0.6; } 
  100% { opacity: 0.1; }
}
@media all and (max-width: 640px) {
  #messages_container{
    width: 100%;
  }
}