#nav{
    display: flex;
    flex-direction: row;
    justify-content:end;
    height: 4rem;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    margin: 0 auto;
    width: 70%;
    justify-content: space-between;
    z-index: 10;
    height: 3rem;
    max-width: 500px;
    border-radius:  0 0 1rem 1rem;
    background: rgb(255, 255, 255);
}
#location_icon {
    height: 1.5rem;
    width: 1.5rem;
    margin:0.5rem 1.5rem;
    cursor: pointer;
    display: flex;
    position: absolute;
    right: 0;
  }
  .show_users_icon, .hide_users_icon{
    height: 1.5rem;
    width: 1.5rem;
    margin:0.5rem 1.5rem;
    cursor: pointer;
    display: none;
  }
@media all and (max-width: 640px) {
    .show_users_icon{
        display: inline;
      }
      .hide_users_icon{
        display: none;
      }
    #nav{
      width: 100%;
    }
}