#sidebar{
    width: 30%;
    padding: 10px;
    background: rgba(255, 255, 255, 0.874);
    box-shadow: 5px 3px 50px rgba(128, 128, 128, 0.371);
    animation: merge ease-out;
    animation-duration: 0.5s;
    word-wrap: break-word;
    overflow-y: auto;
  }
  #sidebar > ul{
    padding-left: 1rem;
  }
  @keyframes merge {
    from {left: -300px;}
    to {left: 0;}
  }

@media (max-width: 640px) {
    #sidebar{
        display: none; 
        min-width: 200px;
        top: 3rem;
        position: absolute;
        z-index: 5;
        border-radius: 0 20px 20px 0;
        height: 80vh;
        padding: 10px;
    }
}