#sidebar{
    width: 20%;
    height: 100vh;
    padding: 10px;
    background: rgba(255, 255, 255, 0.874);
    box-shadow: 5px 3px 50px rgba(128, 128, 128, 0.371);
    z-index: 5;
    position: absolute;
    top: 0;
    animation: merge ease-out;
    animation-duration: 0.5s;
    word-wrap: break-word;
    overflow-y: auto;
  }
  #sidebar > ul{
    padding-left: 1rem;
  }
  @keyframes merge {
    from {left: -300px;}
    to {left: 0;}
  }

@media  screen and (max-width: 600px) {
    #sidebar{
        display: none; 
        min-width: 200px;
        top: 10vh;
    }
    #sidebar{
        height: 80vh;
        padding: 10px;
        border-radius: 0 20px 20px 0;
    }
}