#avatar_viewer{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.777);
    z-index: 50;
    display: none;
}
#avatar_viewer > img{
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    margin: 5rem auto;
    display: block;
}