<div id="nav">
    <img class="show_users_icon" src="../assets/icons/users.png" title="Show users" alt="show users">
    <img class="hide_users_icon" src="../assets/icons/close.png" title="Hide users" alt="Hide users">
    {{!-- <img id="location_icon" src="../assets/icons//location.png" alt="Location" title="Location"> --}}
</div>