<div id="text_inputs">
    <div>
    <div id="imoji_box">
        <div id="imoji_search">
        <input type="text" id="input_imoji" placeholder="Search imoji">
        <span id="search_result"></span>
        </div>
        <div id="imoji_list"></div>
    </div>
    <button id="imoji_btn">&#x263A;</button>
    <span role="textbox" dir=auto id="message_input" class="input_bg" contenteditable></span>
    <button id="send_btn" disabled></button>
    <img id="recordBtn" src="../assets/icons/mic.png" alt="mic">
    <div id="chat_bar"></div>
    </div>
</div>